<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-sm-offset-2">

  </div>

</div>
<form (ngSubmit)="onSignup(f)" #f="ngForm">
  <div class="form-group">
    <label for="email">Mail</label>
    <input type="email" name="email" ngModel class="form-control">
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" ngModel class="form-control">
    </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>