<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Recipe Book</a>
        </div>
    
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes" name="recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list" name="shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!isAuthenticated()">
                    <li><a routerLink="/signin"><b>Login</b></a></li>
                    <li><a routerLink="/signup">Register</a></li>
                </ng-template>
                <li><a style="cursor: pointer;" (click)="onLogout()" *ngIf="isAuthenticated()">Logout</a></li>
                <li class="dropdown" appDropdown *ngIf="isAuthenticated()">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="storeRecipes()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="fetchRecipes()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>